.border-all {
    border: 1px solid black;
    margin: 0.1rem;
}

.no-margins {
    margin-bottom: 0;
}

.zeta-color {
    color: #97392B;
}

.zeta-padding {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.zeta-symbol {
    font-size: 15rem;
}

.code {
  overflow-x: auto;
  background-color: #ecf0f1;
  border-left: 0.3rem solid #242221;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  .code > p {
    font-family: 'Roboto Mono', monospace;
    margin-top: 0;
    margin-bottom: 0; }
  .code > pre {
    font-family: 'Roboto Mono', monospace;
    margin-top: 0;
    margin-bottom: 0; }