
$color-text: #242221 !default
$color-background: #FCFDFD !default
$color-primary: #97392B !default
$color-secondary: #e67e22 !default
$color-tertiary: #2C3E50 !default
$color-quaternary: #6C7A89 !default
$color-quinary: #019875 !default
$color-code: #ecf0f1 !default

$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default
$font-family-alt: 'Roboto Condensed', 'Roboto', 'Helvetica', 'Arial', sans-serif !default
$font-size: 1.6em !default
$font-weight-p: 400 !default
$font-weight-h: 400 !default
$letter-spacing: 0.13em !default
$line-height: 1.6em !default