.light
  font-weight: 300
  &>*
    font-weight: 300

.normal
  font-weight: 400
  &>*
    font-weight: 400

.bold
  font-weight: 700
  &>*
    font-weight: 700

.text-alt
  font-family: $font-family-alt
  letter-spacing: -0.1rem
  &>*
    font-family: $font-family-alt

.text-align-c
  text-align: center

.text-align-l
  text-align: left

.text-align-r
  text-align: right

.bg-color-primary
  background-color: $color-primary

.bg-color-secondary
  background-color: $color-secondary

.bg-color-tertiary
  background-color: $color-tertiary

.bg-color-quaternary
  background-color: $color-quaternary

.bg-color-quinary
  background-color: $color-quinary

.reverse-color
  color: $color-background
  &>*
    color: $color-background

.no-margin
  margin: 0 0 0 0

.no-padding
  padding: 0 0 0 0

.text-stroke
  text-shadow: -1px -1px 0 $color-text,1px -1px 0 $color-text,-1px 1px 0 $color-text,1px 1px 0 $color-text